<% provide(:title, "About") %>
<h1>About</h1>
<p>Get about ruby on rails at the <a href="https://ruby-china.github.io/rails-guides/">rails-guides</a></p>
<p>We couldn' t believe that it was a village. The buildings for the farmers were very beautiful, the streets were very clean and there were many flowers in front of the houses.
  We couldn' t believe that it was a village. The buildings for the farmers were very beautiful, the streets were very clean and there were many flowers in front of the houses.
</p>