<table>
  <tr>
    <th>博客标题</th>
    <th>博客作者</th>
    <th>博客内容</th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= link_to blog.title, blog_path(blog) %></td>
      <td><%= blog.user.username %></td>
      <td><%= blog.content %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @blogs %>