<h1>用户列表</h1>
<table>
  <tr>
    <th>ID</th>
    <th>用户名</th>
  </tr>
  <% @users.each do |user| %>
  <%= render partial: "one_user", locals: {user: user} %>
  <% end -%>
  <%= render partial: "one_user", collection: @users, as: 'user' %>
</table>
<%= will_paginate @users %>