<% if @user.errors.any? %>
  <div class="alert alert-danger">
    the form contains <%= pluralize(@user.errors.count, 'error') %>
    <ul>
      <% @user.errors.messages.values.flatten.each do |error| %>
        <li><%= error %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>