<h1>管理后台——用户列表</h1>
<table>
  <tr>
    <th>ID</th>
    <th>用户名</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @users %>