<footer class="footer">
  <div class="nav navbar-nav navbar-left">
    <li><a href="https://ruby-china.github.io/rails-guides/">rails guides</a></li>
  </div>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>